<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.17.3" targetFramework="net48" />
  <package id="Grpc" version="2.39.1" targetFramework="net48" />
  <package id="Grpc.Core" version="2.39.1" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.39.1" targetFramework="net48" />
  <package id="Grpc.Tools" version="2.39.1" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net48" />
  <package id="Polly" version="5.7.0" targetFramework="net48" />
  <package id="Relativity.DataExchange.Client.SDK" version="1.14.13" targetFramework="net48" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net48" />
  <package id="Relativity.ObjectManager" version="12.1.171.20" targetFramework="net48" />
  <package id="Relativity.OutsideIn" version="2021.6.0" targetFramework="net48" />
  <package id="Relativity.Telemetry.Services.Interface" version="3000.0.1" targetFramework="net48" />
  <package id="Relativity.Transfer.Client" version="7.3.12" targetFramework="net48" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
</packages>